html {
  max-width: 100vw;
  overflow-x: hidden;
  background: #19576c;
  background: radial-gradient(circle, #2c5563 0%, #6eaac0 50%, #cfecee 100%);
  display: flex;
  justify-content: center;
  height: auto;
}

body {
  display: flex;
  overflow-y: hidden;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #f1f9fc;
  z-index: -2;
  height: auto;
  color: #293033;
}

/* new media query required for smaller then 650px width */

@media (max-width: 1000px) {
  body {
    width: 95%;
  }
}

@media (max-width: 630px) {
  body {
    display: block;
    width: 100%;
    padding: 0px;
    justify-content: flex-start;
    overflow-x: hidden;
  }
  .subtitle {
    flex-direction: column;
  }
}

p {
  font-size: 15px;
  line-height: 22px;
}

h2,
h3,
h4 {
  margin: 0em;
  padding: 0em;
}

h4 {
  color: #027b83;
  font-weight: 500;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  padding-bottom: 20px;
  line-height: 22px;
}

section {
  margin: 2em;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: inherit;
  margin: 0px;
}

.subtitle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0.2em 0em 0.5em 0em;
}

.subtitle h3 {
  color: #1455a8;
  font-weight: 500;
}

.buttons {
  background-color: transparent;
  margin: 1em;
  border: 1px solid #266db6;
  box-sizing: border-box;
  color: #00132c;
  font-size: 1.5em;
  font-weight: 550;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttons:hover,
.buttons:active {
  outline: 0;
}

.buttons:hover {
  background-color: transparent;
  cursor: pointer;
}

.buttons:before {
  background-color: #d5edf6;
  content: '';
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: 350ms ease-in;
  width: 100%;
  z-index: -1;
}

.buttons:hover:before {
  background-color: #6dcff6;
}

footer {
  display: flex;
  background: linear-gradient(to top, #92c9dd 0%, #f1f9fc 100%);
  background-color: #f1f9fc;
  width: 100%;
}
