.intro {
  margin: 3em;
  align-items: start;
}

.main p {
  padding: 0em;
  margin: 0em;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 200vh;
}
