.main {
  margin-bottom: 35em;
  margin-top: 7em;
}

/* @media (max-width: 933px) {
  main {
    margin-bottom: '60em';
  }
} */

.blog-entries {
  padding-bottom: 0px;
  border-bottom: 1px solid #5ac4e1;
}

@media (max-width: 630px) {
  .main {
    margin-top: 0em;
  }
}

.blog-item {
  display: flex;
  border-top: 1px solid #5ac4e1;
  justify-content: space-between;
  padding: 0.5em;
  line-height: 35px;
}

.blog-entry {
  padding: 1em;
  padding-bottom: 0.7em;
  border-radius: 10px;
  width: 100%;
}

.blog-entry:hover,
.blog-entry:hover h2,
.blog-entry:hover h4 {
  transition: 500ms ease-in;
  color: #6dcff6;
}

.blog-entry:hover {
  /* border: 2px solid #3e474b; */
  padding-top: 0.7em;
  padding-bottom: 1em;
  background-color: #3e474b;
}

/* .test-box {
  display: flex;
  flex-direction: row;
  border: 2px solid red;
  justify-content: center;
  align-items: flex-end;
}

.test-box2 {
  display: flex;
  flex-direction: column;
  border: 2px dashed blue;
  justify-content: flex-start;
  align-items: center;
} */
