footer {
  /* display: grid;
  grid-template-columns: repeat(5, 1fr); */
  background: linear-gradient(to top, #92c9dd 0%, #f1f9fc 100%);
  background-color: #f1f9fc;
  width: 100%;
}

.footer-links {
  margin: 0em 2em;
}

.footer-links a {
  display: flex;
  align-items: center;
  margin: 2px 0px;
  padding: 0px;
}

.footer-links p {
  margin: 0px;
  padding: 0px;
}

.contact-info {
  padding: 0px;
  margin-bottom: 1em;
}

.footer-links a:hover svg,
.footer-links a:hover p {
  transition: 200ms ease-in;
  color: #6dcff6;
}
