footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: linear-gradient(to top, #aadaeb 20%, #f1f9fc 100%);
  width: 100%;
}

.name {
  padding: 0px;
  margin: 0em 2em;
}

.footer-links {
  margin: 1em 2em 2em 2em;
}

.footer-links a {
  display: flex;
  align-items: center;
  margin: 2px 0px;
  padding: 0px;
}

.footer-links p {
  margin: 0px;
  padding: 0px;
}

.footer-links a:hover svg,
.footer-links a:hover p {
  transition: 200ms ease-in;
  color: #6dcff6;
}

footer img {
  height: 25px;
  margin-bottom: 1em;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
}

footer li {
  margin-right: 1em;
}

#gh-link:hover {
  filter: drop-shadow(5px 5px 3px #1e566a);
}
