.sections {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

.about-me img {
  width: 20em;
}

.about-me {
  display: flex;
  flex-direction: row;
}

.projects {
  align-items: start;
  justify-content: start;
  height: auto;
}

.projects img {
  width: 35em;
}

.projects h3 {
  margin: 0em;
}

.project {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  margin: 1em 0em;
}

.reverse {
  flex-direction: row-reverse;
}

li.project {
  display: flex;
  border: 1px solid blue;
  justify-content: space-between;
}

.project-visuals {
  display: flex;
  flex-direction: column;
}

.project-links {
  display: flex;
  flex-direction: row;
}

.reverse-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}
