.sections {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

.about img {
  width: 20em;
}

.about {
  align-items: flex-start;
  animation: slideInTop 1s;
}

.intro {
  margin: 0em;
}

.about-me {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

section.my-links,
section.my-interests {
  margin: 1em 0em;
  display: flex;
  align-items: center;
}

.my-links a {
  margin-right: 10px;
  color: #367f9a;
}

.my-links a:hover svg,
.my-links a:hover p {
  transition: 200ms ease-in;
  color: #6dcff6;
}

section.my-interests {
  justify-content: space-around;
  width: 100%;
}

section .interest {
  text-align: center;
  margin: 0em;
}

.projects,
.experience {
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  padding: 3em 0em;
}

.achievements {
  width: 100%;
}

.projects img {
  width: 35em;
}

.project {
  display: flex;
  flex-direction: row;
  padding: 1em 0em;
}

.reverse {
  flex-direction: row-reverse;
}

li.project {
  display: flex;
  border-top: 1px solid #5ac4e1;
  justify-content: space-between;
}

.project-info {
  display: flex;
  flex-direction: column;
}

.project-info h2 {
  margin: 0.3em 0em;
}

.project-visuals {
  display: flex;
  flex-direction: column;
}

.project-links {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.reverse-visuals {
  align-items: flex-end;
}

.reverse-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.reverse-desc {
  text-align: end;
}

.tech-stack {
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5em;
}

.tech-stack li {
  background-color: #27caf3;
  padding: 1px 15px;
  border-radius: 20px;
  margin: 2px;
  color: #fbfdfe;
}

.reverse-stack {
  justify-content: flex-end;
}

.project-link {
  display: flex;
  align-items: center;
}

.schooling li,
.work li {
  margin-bottom: 0.5em;
}

.schooling,
.work {
  margin-bottom: 2em;
}

@media (max-width: 1300px) {
  .project {
    flex-direction: column;
    margin: 1em 0em;
    align-items: center;
  }
  .reverse {
    flex-direction: column;
  }
  .reverse-visuals,
  .reverse-text,
  .project-info,
  .project-visuals {
    align-items: center;
  }
  /* .reverse-text {
    align-items: flex-start;
  } */
  .reverse-desc {
    text-align: start;
  }
  .reverse-stack {
    justify-content: flex-start;
  }
}

@media (max-width: 1000px) {
  .intro {
    margin-bottom: 1.5em;
  }
  .about-me {
    flex-direction: column;
    text-align: center;
  }
  section.my-links {
    justify-content: center;
  }
}

@media (max-width: 630px) {
  .about {
    margin-top: 180px;
  }
  .projects img {
    width: 100%;
    max-width: 25em;
    height: auto;
    min-width: 10em;
  }
}

@keyframes slideInTop {
  from {
    transform: translateY(-300px);
    opacity: 0.3;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
