.sections {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

.about img {
  width: 20em;
}

.about {
  align-items: flex-start;
  animation: slideInBottom 0.5s ease-in 0s forwards;
  animation-timeline: view();
  animation-range: entry 10% cover 45%;
  animation: reveal linear both;
  animation-timeline: view(block);
  animation-range: cover 15% cover 55%;
}

.intro {
  margin: 0em;
}

.about-me {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.projects,
.experience {
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  padding-top: 5em;
}

.projects img {
  width: 35em;
}

.project {
  display: flex;
  flex-direction: row;
  padding: 1em 0em;
  animation: slideInRight 1s ease-in 0s forwards;
}

.reverse {
  flex-direction: row-reverse;
  animation: slideInLeft 2s ease-in 0s forwards;
}

.project,
.reverse {
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}

li.project {
  display: flex;
  border-top: 1px solid #5ac4e1;
  justify-content: space-between;
}

.project-visuals {
  display: flex;
  flex-direction: column;
}

.project-links {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.reverse-visuals {
  align-items: flex-end;
}

.reverse-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.reverse-desc {
  text-align: end;
}

.tech-stack {
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
}

.tech-stack li {
  background-color: #27caf3;
  padding: 1px 15px;
  border-radius: 20px;
  margin: 2px;
  color: #fbfdfe;
}

.reverse-stack {
  justify-content: flex-end;
}

.project-link {
  display: flex;
  align-items: center;
}

.schooling li,
.work li {
  margin-bottom: 0.5em;
}

.schooling,
.work {
  margin-bottom: 2em;
}

@media (max-width: 1300px) {
  .project {
    flex-direction: column;
    margin: 1em 0em;
    align-items: center;
    /* animation: none; */
  }
  .reverse {
    flex-direction: column;
    /* animation: none; */
  }

  .reverse-visuals,
  .reverse-text {
    align-items: flex-start;
  }

  .reverse-desc {
    text-align: start;
  }
}

@media (max-width: 1000px) {
  .intro {
    margin-bottom: 1.5em;
  }
  .about-me {
    flex-direction: column;
  }
  .project-info {
    align-items: flex-start;
  }
  .project-links {
    justify-content: flex-end;
  }
}

@media (max-width: 630px) {
  .projects img {
    width: 100%;
    max-width: 25em;
    height: auto;
    min-width: 10em;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-150px);
    opacity: 0.5;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(150px);
    opacity: 0.3;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(300px);
    opacity: 0.3;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes exampleAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100px);
  }
}

.animatedElement {
  animation: reveal linear both;
  animation-timeline: view(block);
  animation-range: cover 15% cover 55%;
}
