.nav {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1% 0%;
  background-color: #f4fbfe;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-size: 0.8em;
  width: 70%;
  z-index: 1;
  box-sizing: border-box;
  overflow: hidden;
}

.nav::before {
  content: '';
  position: fixed;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: linear-gradient(to right, #1be2c7, #47d2f5);
  z-index: -5;
}

.nav button {
  margin: 0.5em;
  border: 1px solid #1f4f80;
  font-weight: 500;
  padding: 0.2em 0.5em;
  position: relative;
  /* background-color: #f4fbfe; */
}

.nav button:before {
  content: '';
  height: calc(90% + 3px);
  position: absolute;
  right: -3px;
  top: -3px;
  background-color: #d5edf6;
  transition: 300ms ease-in;
  z-index: -1;
  border-radius: inherit;
}

.nav button:hover:before {
  background-color: #6dcff6;
}

/* .nav {
  position: relative;
  display: flex;
  background-color: black;
  border-radius: 10px;
} */

@media (max-width: 1000px) {
  .nav {
    width: 95%;
  }
}

@media (max-width: 630px) {
  .hidden {
    display: none;
  }
}
